.hanoiContainer {
  border: 1px solid blue;
  min-height: 400px;
  min-width: 600px;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.disc {
  border-radius: 4px;
  height: 20px;
  min-width: 20px;
  margin: 1px;
  color: aliceblue;
  text-align: center;
}

.hanoiPegContainer {
  height: 100%;
  border: 1px solid blue;
  align-self: flex-end;
  background: linear-gradient(rgb(85, 69, 4), rgb(201, 201, 12), rgb(85, 69, 4))
    no-repeat center/4px 100%;
  padding-top: 20px;
}

.hanoiPeg {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
}
